.banner-wrapper {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}
.banner-wrapper.red {
    background-color: #fed9cc;
}
.banner-wrapper.blue {
    background-color: #D6EAF8;
}
.banner-wrapper .banner-main-text {
    font-weight: bold;
    font-size: 0.875em;
}
.banner-wrapper .banner-actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.banner-wrapper .banner-actions-wrapper .banner-action-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.banner-wrapper .banner-actions-wrapper .banner-action-button:first-child {
    margin-right: 1em;
}